# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_store
tmp/runner-build
.env
.envPROD
backend.pem
build/backend-messages
ec2-docker-build/build
ec2-docker-build/data/certbot
backend-t3alarge.pem
ec2-docker-build/.envSTAG
